html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.card {
    width: 18rem;
    display: inline-block;
}

.hidden {
    display: none;
}